/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';

@import 'font-awesome-sprockets';
@import 'font-awesome';


// Typography Styles//
h1,h2,h3 {
    font-family: 'Open Sans', sans-serif;
    
}

//background Gradient //
.navbar, .home-callout { 
    // Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b4e391+0,61c419+100,b4e391+100 //
  background: rgb(180,227,145); /* Old browsers */
  background: -moz-linear-gradient(left, rgba(180,227,145,1) 0%, rgba(97,196,25,1) 100%, rgba(180,227,145,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(180,227,145,1) 0%,rgba(97,196,25,1) 100%,rgba(180,227,145,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(180,227,145,1) 0%,rgba(97,196,25,1) 100%,rgba(180,227,145,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=1 ); /* IE6-9 */
}

// Nav Styles//
.navbar{
  border:none;
  
}

//Homepage styles//
.home-callout{
  margin-top:-20px;
  padding-top:50px;
  padding-bottom:100px;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav li a{
  color:white;
  &:hover{
    color:white;
    opacity:0.75;
  }
}


